*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:bisque;
    color: black;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
button{
    font-size: 2vw;
    padding: 1vw 2vw;
    margin-left: 1vw;
    background-color: burlywood;
    border: none;
    border-radius: 10%;
}
input{
    height: 6vh;
    margin-left: 2vw;
    border: none;
    border-radius: 20vw;
}